{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}

<!-- ******************************************************************************************************* -->
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/packof.css' %}">

<script src="{% static 'js/packof.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const jsonData = JSON.parse('{{ df_json|escapejs }}');

    if (jsonData.length > 0) {
      createTableHeaders(jsonData);
      displayRecords(jsonData);
    } else {
      console.log("No data to display");
    }
    
    let gettext = document.querySelectorAll('td');
    let showvalueontop = document.getElementById('showvalueontop')
    Array.from(gettext).forEach((item) => {
      item.addEventListener('mouseover', () => {
        let getData = item.textContent;
        let sumrisedata = getData.replace(/\s+/g, ' ').trim()
        showvalueontop.value = sumrisedata;
      })
   })
   popup()
  });

</script>
</head>
<!-- ******************************************************************************************************* -->

<div class="main-body>">
<div class="upload-container">
  <form id="upload-form" method="POST" name ='file' action="/upload_file/" enctype="multipart/form-data">

    <input type="file" id="file-input" name ="file" accept=".xlsx">


    <button type="submit" class="upload-button">Upload</button>
  </form>
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>

<!-- ******************************************************************************************************* -->
<h2 id="heading">Packof</h2>
<div class="textareadata">
 
  <textarea name="" id="showvalueontop"></textarea>
</div>
<div class="tabledatadiv">
  <table id="recordsTable">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>


<div id="next-button-container">
  <button class="next-button" onclick="window.location.href='{% url 'packof_next' %}'">Next</button>
</div>
<!-- ******************************************************************************************************* -->
</div>
{% endblock %}